.leftcolumn {
    float : left;
    width: 30%;
    padding-left: 20px;
    margin-top: 65px;
    height : 100vh;
    overflow-y: scroll;
}

.card {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.card :hover {
    background-color: whitesmoke;
}